
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Products Index Page</h1>
    <p>We will display a list of products very soon...</p>
</body>
</html>
