
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Message</title>
</head>
<body>
    <h1>Important Message</h1>
    <p>This page is <em>extremely</em> unimportant to the function of this application. it was place here <b>only</b> to demonstrate that a view can be called from a controller</p>
    <p>Thank you for your understanding</p>
</body>
</html>
