
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome</title>
</head>
<body>
    <h2>Welcome @ViewBag.Name</h2>
    <p>"Your the secret number for today is @ViewBag.Secret</p>
</body>
</html>
